<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <header class="navbar_header">
            <h1>Your Contact List</h1>
        </header>
        <footer class="addNewContact">
            <h2>
                Add new Contact Details
            </h2>
            <form action="/create_contact" method="POST">
                <label for="name">Enter Name here : </label>
                <input type="text" name="name" id="name" required><br>

                <label for="phone">Enter Phone here : </label>
                <input type="number" name="phone" id="phone" required><br>

                <button type="submit">Add Contact</button>
            </form>
        </footer>
        <hr>
        <main>
            <div class="contact_list">
                <ol>
                    <% for(let i of contact_list){ %>
                        <li>
                            <p><%= i.name %></p>
                            <p><%= i.phone %></p>
                            <p><a class="delete_contact" href="/delete-contact/?phone=<%= i.phone%>">Delete Contact</a></p>
                        </li>
                    <%}%>
                </ol>
            </div> 
        </main>
        <script src="/javascript.js"></script>
    </body>
</html>