<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <ul>
            <% for(let i=1;i<=5;i++){ %>
            <li style="font-size: 20px;">
                 <%= i %>
            </li>
            <% } %>
        </ul>
    </body>
</html>